html {
    -webkit-text-size-adjust: 100%;
}


body {
    color: #000;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

body {
    -webkit-font-smoothing: antialiased;
}

body {
      margin: 0;
    padding: 0;
}

body {
    display: block;
    margin: 8px;
}

.Header {
    width: 100%;
    position: absolute;
}

.Header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

header {
    display: block;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
    position: relative;
}

div { 
  margin: 0;
  padding: 0;
}

.HeaderLogo {
    transition: opacity .2s;
}

a {
    color: #000;
    text-decoration: none;
}

.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}

img {
    border: 0;
    vertical-align: middle;
}

img {
  margin: 0;
    padding: 0;
}

.lazyload {
    background-image: none !important;
}

.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto;
}

.HeaderContainer>*:last-child {
    display: inline-flex;
}

.HeaderNavHamburger {
    display: none;
}

.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

ul, ol {
    list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.HeaderItem {
    transition: opacity .2s;
}

.HeaderItem {
    margin-right: 45px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.HeaderItemlink {
    display: block;
}

.HeaderItemlink>span:first-child {
    font-family: 'Lato',sans-serif;
}

.HeaderItemlink>span {
    display: block;
    font-weight: 700;
    text-align: center;
}

a:-webkit-any-link {
  cursor: pointer;
}

.HeaderItemlink>span:last-child {
    font-size: 10px;
}

.HeaderNavListItem__button:visited {
    color: #fff;
}

.HeaderNavListItem__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}

HeaderNavListItem__button {
    transition: opacity .2s;
}

HeaderNav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.HeaderNav:last-of-type {
    margin-right: 0;
}

main {
    display: block;
}

.FirstView {
    background-image: url(//camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}

.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}

.FirstView__main-image--sp {
    display: none;
}

.FirstView__main-image {
    width: 100%;
}

.FirstView__container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}


.FirstViewContent__title {
    color: #000;
    font-family: 'Lato',sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.images {
    margin-bottom: 25px;
}

.images img {
    margin-right: 8px;
}

.images img:nth-of-type(2) {
    width: 40%;
}

.images img:last-of-type {
    margin-right: 0;
}


.FirstViewContent__buttons {
    display: flex;
}

.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}

.FirstViewContent__buttons a:first-of-type {
    margin-right: 15px;
    width: 306px;
}

.FirstViewContent__buttons a:visited {
    color: #fff;
}

.FirstViewContent__buttons a {
    transition: opacity .2s;
}

.FirstViewContent__buttons a {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.FirstViewContent__buttons a:last-of-type {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #000;
    width: 176px;
}

.FirstViewContent__buttons a:visited {
    color: #fff;
}

.FirstViewContent__buttons a {
    transition: opacity .2s;
}

.FirstViewContent__buttons a {
    align-items: center;
    border: none;
    border-radius: 38px;
 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
   
}

.FirstViewContent__buttons a:last-of-type {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #000;
    width: 176px;
}

.caution {
    color: #a2a2a4;
    font-size: 12px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.FirstViewCaption a {
    color: #a2a2a4;
}

a {
  
    text-decoration: none;
}

.FirstView {
    background-image: url(//camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}

.AboutWrapper {
    background-color: #f79214;
    padding: 44px 0;
}

.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.About__video {
    width: 50%;
}

.About__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 32px;
}

.About__title h2 {
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    width: 100%;
}

.About__title h2, .About__title p {
    color: #fff;
    text-align: left;
}

.About__title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}

.About__title p {
    color: #fff;
    text-align: left;
}

.About__button {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.About__button {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}